* {
    /* CSS áp dụng cho tất cả các phần tử */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Thêm các thuộc tính CSS khác tùy thuộc vào nhu cầu của bạn */
  }
body.dark-mode {

    background-color: #333;
    color: #fff;
}
body.light-mode {
    background-color: #fff;
    color: #333;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.display_array{
    display: flex;
    margin-left: 5px;
}
.hidden{
    display: none;
}
#displayValues{
    display: flex;
    padding: 30px 0 30px 0;
}
.content_warning button{
    width: 150px;
    padding: 10px;
    background-color: #ff5900;
    color: white;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}
.content_warning button:hover{
    
    outline: 1px solid #ff5900;
    color: #ff5900;
    background-color: white;
}
.content_warning button:focus{
    outline: none;
}
.box-img{
    margin-left: 50px;
}
.content_warning{
    text-align: center;
}
.icon_arrow{
    display: flex;
}
.display_array p{
    text-align: center;
    padding: 10px 15px 10px 15px;
    margin: 5px;
    border: 2px solid #797878;
    box-shadow: 3px 3px 6px #333;
    width: 47px;
    height: 41px;
    white-space: nowrap;
  overflow: hidden;
  
  border-radius: 5px;
}
.control_room{
    width: 25%;
}
.title {
    margin-left:20px;
    font-size: 25px;
    font-weight: bold;
    color: #68caee;
    padding-top: 13px;
    padding-bottom: 10px;
}
.note_infor{
    padding: 10px 0 50px 0;
}
.icon{
    display: flex;
}
.text_dht11{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    width: 230px;
}
.content_living{
    display: flex;
}
.hardward{
    margin: 0 10px 10px 0;
    box-shadow: 5px 5px 10px #333;
    width: 25%;
    border-radius: 10px;
}
.form-container {
    text-align: end;
}
body.dark-mode .line_infor{
    background-color: white;
}
body.dark-mode .hardward{
    box-shadow: 5px 5px 10px white;
}
body.dark-mode .line_char{
    background-color: white;
}
body.dark-mode .display_array p{
    box-shadow: 3px 3px 6px white;
}
.line_infor{
    width: 70%;
    height: 5px;
    background-color: #333;
    margin-left: 15%;
    border-radius: 40%;
}

.dht11{
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.text_infor {
    font-size: 20px;
    font-weight: 800;
}
.main_infor{
    display: flex;
    margin-left: 120px;
}
.line_char{
    margin-left: 5px;
    margin-top: 30px;
    width: 6px;
    height: 450px;
    background-color: #333;
    border-radius: 40%;
}
.headhard{
    display: flex;
    margin-top: 5px;
}
.headhard2{
    display: flex;
}
.headhard2 h4{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 0 20px 0 20px;
}
.headhard h4{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 0 20px 0 20px;
}
.iconhead{
    margin-top: 7px;
}
.line{
    width: 1px;
    height: 30px;
    background-color: #333;
    margin: 0 10px 0 10px;
}
.text_warning{
    display: flex;
    margin-left: 80px;
}
.icon_arrow{
    margin: 18px 0 0 6px ;
}

#container{
    border-radius: 10px;
}
.form {    
    float: right;
    margin-left: 13px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    color: #8a7c7c;
    border: 1px solid rgba(197, 119, 178, 0.74);
    border-radius: 5px;
}
.disnone{
    display: none;
}
.infor{
    position: absolute;
    padding: 80px; 
    background-color: white;
    top: 100px;
    left: 400px;
    z-index: 6;
    border-radius: 20px;
}
.content_close{
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}
.bedroom-link{
    width: 150px;
    padding: 8px;
    font-size: 16px;
    margin: 150px 0 0 10px;
    font-weight: 600;
    background-color: #ff5900;
    border-radius: 10px;
    border: none;
    outline: none;
}
.bedroom-link:hover{
    background-color: white;
    color: #ff5900;
    outline: 1px solid #ff5900;

}
.bedroom-link:focus{
    background-color: white;
    outline: 1px solid #ff5900;
}
.close_infor{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    left: 0;
}
.close_infor img{
    margin-top: 50px;
    margin-left: 600px;
}

.temperature{
    background-color: #ff7e6c;
}
.humidity{
    background-color: #5c7ee3;
}
.light{
    background-color: #ffca00;
}
.temperature:hover {
    background-color: white;
    border: 3px solid #ff7e6c;
    color: black;
}
.temperature:hover p{
    color: black;
}
.humidity:hover {
    background-color: white;
    border: 3px solid #5c7ee3;
    color: black;
}
.humidity:hover p{
    color: black;
}
.light:hover {
    background-color: white;
    border: 3px solid #ffca00;
    color: black;
}
.light:hover p{
    color: black;
}
.warning-element{
    top: -50px;
    display: block;
    margin-left: 50px;
    margin-top: 13px;
}
.textcenter{
    text-align: center;
}
.bell{
    margin-left: 100px;
    margin-top: 5px;
}
/* .form:hover {
    cursor: pointer;
    background-color: rgb(105, 105, 218);
    color: white;
    transition: 0.7s;
} */

.main-title {
    margin-bottom: 5px;
    background-color: #FFCC99;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 8px;
    padding-bottom: 3px;
    border-left: 1px solid white;
    border-radius: 10px;
}
.chartdht11{
    margin-top: 30px;
}
.left-block {
    width: 100%;       
    border: 1px solid white;
    border-right: none;
    
    display: flex;
}
.flex{
    display: flex;
}
.element-left {
    width: 33.33333%;
    border-radius: 10px;
}

.element-block {
    width: 100%;
    height: 113px;
    display: flex;
    border: 1px solid white;
    border-right: none;
    text-align: center;
    position: relative;
    border-radius: 10px;

}

.warning {
    width: 33.33333%;
    background-color: #00CC99;
}


.warning-mode-on {
    -webkit-animation: bgcolor 4s infinite;
    animation: bgcolor 2s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.right-block {
    margin-top: 10px;
    width: 100%;
    border: 1px solid white;
    border-left: none;
    display: flex;
    height: 450px;
    position: relative;
}

.chart {
    width: 66%;
    border: 5px solid white;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #80ecf4, rgb(6, 19, 19));
}

.control {
    width: 33%;
    position: absolute;
    right: 0;
    /* background-image: linear-gradient(180deg, #80ecf4, rgb(6, 19, 19)); */
}

.livingroom-control {
    height: 225px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #80ecf4, rgb(6, 19, 19));
}

.bedroom-control {
    height: 220px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #80ecf4, rgb(6, 19, 19));
    
}

.element-control {
    width: 100%;
    height: 225px;
    display: flex;
    border: 1px solid white;
    border-right: none;
    text-align: center;
    position: relative;
}

.element-icon-control,.element-icon-control1 {
    width: 100px;
    height: 170px;
    margin-top: 20px;
    margin-left: 130px;
}

.element-text-control {
    line-height: 225px;
    color: white;
    /* margin-left: 50px; */
}

.d1{
    color: aliceblue;
    font-size: 50px;
}
/* 

.checkbox:hover {
    cursor: pointer;
} */

.element-icon {
    width: 56px;
    height: 46px;
    margin-top: 36px;
    margin-left: 18px;
}
.element-icon-warning{
    width: 56px;
    height: 46px;
    margin-left: -10px;
    margin-right: 15px;
}
.element-text {
    display: flex;
    margin-left: 10px;
    margin-top: 46px;
    color: white;
}

.element-container {
    display: flex;
    width: 100%;
}

.width100 {
    width: 100%;
}

.center {
    justify-content: center;
}


.turn-off {
    background-color: rgb(29, 117, 248);
}

.right5px {
    margin-right: 5px;
}

/* .appliances:hover {
    cursor: pointer;
    background-color: rgb(145, 139, 197);
    transition: 0.5s;
} */

.btn123 {
    margin: 0 auto;
    width: 150px;
    height: 35px;
    background-color: #fff;
    border-radius: 25px;
    position: relative;
    margin-top: 5px;
}

.btn-on2, .btn-off2 {
    margin-left: 10px;
    margin-top: 10px;
    padding: 1px 15px;
    border: none;
    background-color: #fff;
    position: relative;
}

.btn1 {
    right: 0;
    top: 0;
    position: absolute;
    width: 80px;
    height: 100%;
    background-color: rgb(6, 134, 6);
    z-index: 1;
    border-radius: 30px;
    transition: 0.25s;
}
.btn0{
    margin-left: 20px;
    margin-top: 80px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.box-img {
    width: 160px;
    height: 145px;
    margin: 10px auto;
    position: relative;
}

.img-bulb2  {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 130px;
    
}

@keyframes bgcolor {
    0% {
        background-color: #114264
    }

    30% {
        background-color: #8ef557
    }

    60% {
        background-color: #5a2502
    }

    90% {
        background-color: rgb(133, 30, 47)
    }

    100% {
        background-color: #5e209c
    }
}