<div class="header_admin">
    <div class="header_admin_playlist">
        <button class="btn_playlist" id="sidebar_collapser">
            <img class="icons-3" src="../static/img/images/play_list_admin.png">
        </button>
        <h3 class="admin_title_pages">LIST</h3>
    </div>
    <div class="admin_tab_menu">
        <ul>
            <li data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Tìm kiếm"><img
                    src="../static/img/images/hd_item_seacrh.png" alt=""></li>
            <li data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Thông báo"><img
                    src="../static/img/images/hd_imtem_infotion.png" alt="">
                <div class="admin_notification_523"></div>
            </li>
            <li data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Hỗ trợ"><img
                    src="../static/img/images/hd_item_question.png" alt=""></li>
            <li data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Giải đáp"><img
                    style="margin-top: -5px;" src="../static/img/images/hd_item_headphonesround.png" alt="">
            </li>
        </ul>
    </div>
    <div class="admin_account_user">
        <div class="admin_info_user">
            <p class="admin_name_user">Trịnh Tiến</p>
            <p class="admin_rank_user">trinhtien.ru@gmail.com</p>
        </div>
        <div class="admin_avt_user"> <img style="width: 50px;" src="../static/img/images/rua.jpg" alt="">
        </div>
    </div>
</div>