<div class="menu">
    <h3>Panel</h3>
    <button class="collapsible" data-icon="icon1">
        <img class="icondash1" src="../../static/img/images/admin_icon4_524.png" alt="">
        <img class="icondash2 disnone_icon" src="../../static/img/images/admin_icon4_active.png" alt="">
        Company</button>
    <div class="collapsible-content">

        <div class="showoption" data-option="option1">List</div>
    </div>

    <!-- Menu 2 -->
    <button class="collapsible" data-icon="icon2">
        <img class="iconadd1" src="../../static/img/images/admin_icon3_524.png" alt="">
        <img class="iconadd2 disnone_icon" src="../../static/img/images/admin_icon3_active.png" alt="">
        Member</button>
    <div class="collapsible-content">
        <div class="showoption" data-option="option2">Add Member</div>
    </div>
</div>