<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
    <script src="socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

    <link rel="stylesheet" href="/static/css/livingroom.css">
    <script src="/static/js/highcharts.js"></script>
    <script src="/static/js/export-data.js"></script>
    <script src="/static/js/accessibility.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg py-2 navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand">
                <!-- Logo Image -->
                <img src="{{ url_for('static', filename='img/logo2.png') }}" width="45" alt=""
                    class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <span class="font-weight-bold">Protect House</span>
            </a>
            <button style="background-color: aliceblue;" class="btn btn-success dark-light">
                <img style="width: 40px;" id="imgdarklight" src="/static/img/icon/sunny.png" alt="">
            </button>
        </div>
    </nav>

    <!-- <section class="py-1">
        <div class="row mt-5">

            <div class="col-lg-10 offset-lg-2">
                <div class="col-md-3 weather temper">
                    <h1>Nhiệt Độ</h1>
                    <p class="temperature">Temperature</p>
                </div>
                <div class="col-md-3 weather humi">
                    <h1>Độ Ẩm</h1>
                    <p class="humidity">Humidity</p>
                </div>
                <div class="col-md-3 weather lux">
                    <h1>Áng Sáng</h1>
                    <p class="light">Light</p>
                </div>
            </div>
            <form style="margin: 50px auto;" action="/home/livingroom/warning" method="post">
                <input type="number" name="temperature" id="temperature" placeholder="temperature">
                <button type="submit" class="btn btn-danger warningsubmit" data-type="temperature">Submit</button>
            </form>
            <form style="margin: 50px auto;" action="/home/livingroom/warning" method="post">
                <input type="number" name="humidity" id="humidity" placeholder="humidity">
                <button type="submit" class="btn btn-danger warningsubmit" data-type="humidity">Submit</button>
            </form>
            <form style="margin: 50px auto;" action="/home/livingroom/warning" method="post">
                <input type="number" name="light" id="light" placeholder="light">
                <button type="submit" class="btn btn-danger warningsubmit" data-type="light">Submit</button>
            </form>

            <a class="btn btn-success bedroom" href="/controlhome">Bedroom</a>
        </div>
    </section> -->
    <div class="content_living">
        <div class="hardward">
            <div class="headhard">
                <h4>Living Room</h4>
                <div class="line"></div>
                <div class="iconhead">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="line"></div>
                <div class="iconhead">
                    <i class="fa-solid fa-wrench"></i>
                </div>
                <div class="line"></div>
                <div class="iconhead">
                    <i class="fa-solid fa-triangle-exclamation fa-bounce"></i>
                </div>

            </div>
            <div class="line_infor"></div>
            <div class="infordht11" onclick="displayValues(temp ,'temp')">
                <div class="dht11">
                    <p class="text_infor">Temperature </p>
                    <div class="main_infor">
                        <p id="currentTemp"></p>
                        <p>°C</p>
                    </div>
                    <div class="text_warning">
                        <p><strong>Warning : </strong></p>
                        <p id="warning_temperature"></p>
                        <p>°C</p>
                    </div>
                </div>
            </div>
            <div class="line_infor"></div>
            <div class="infordht11" onclick="displayValues(humi , 'humi')">
                <div class="dht11">
                    <p class="text_infor">Humidity </p>
                    <div class="main_infor">
                        <p id="currentHumi"></p>
                        <p>%</p>
                    </div>
                    <div class="text_warning">
                        <p><strong>Warning : </strong></p>
                        <p id="warning_humidity"></p>
                        <p>%</p>
                    </div>
                </div>
            </div>
            <div class="line_infor"></div>
            <div class="infordht11" onclick="displayValues(light , 'light')">
                <div class="dht11">
                    <p class="text_infor">Light </p>
                    <div class="main_infor">

                        <p id="currentLight"></p>
                        <p>Lux</p>
                    </div>
                    <div class="text_warning">
                        <p><strong>Warning : </strong></p>
                        <p id="warning_light"></p>
                        <p>Lux</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="chartdht11">
            <figure class="highcharts-figure">
                <div id="container"></div>
            </figure>
        </div>
        <div class="line_char"></div>
        <div class="content_close disnone">
            <div class="close_infor">
                <img src="../static/img/images/close_lg.png" alt="">
            </div>

            <div class="infor ">
                <p class="text_notselect disnone"> <strong>Bạn chưa chọn mục nào !</strong></p>
                <form class="form_humidity disnone" style="margin: auto;" action="/home/livingroom/warning"
                    method="post">
                    <img class="element-icon-warning" src="/static/img/icon/drop.png" alt="">
                    <input type="number" name="humidity" id="humidity" placeholder="humidity">
                    <button type="submit" class="btn btn-danger warningsubmit" data-type="humidity"><i
                            class="fa-solid fa-arrow-up-from-bracket"></i></button>
                </form>
                <form class="form_light disnone " style="margin:auto;" action="/home/livingroom/warning" method="post">
                    <img class="element-icon-warning" src="/static/img/icon/sunny.png" alt="">
                    <input type="number" name="light" id="light" placeholder="light">
                    <button type="submit" class="btn btn-danger warningsubmit" data-type="light"><i
                            class="fa-solid fa-arrow-up-from-bracket"></i></button>
                </form>
                <form class="form_temperature disnone" style="margin: auto;" action="/home/livingroom/warning"
                    method="post">
                    <img class="element-icon-warning" src="/static/img/icon/temprature.png" alt="">
                    <input type="number" name="temperature" id="temperature" placeholder="temperature">
                    <button type="submit" class="btn btn-danger warningsubmit" data-type="temperature"><i
                            class="fa-solid fa-arrow-up-from-bracket"></i></button>
                </form>
            </div>
        </div>
        <div class="control_room">
            <div class="note_infor">
                <div class="headhard2">
                    <h4 class="text_dht11">Living Room</h4>
                    <div class="icon">
                        <div class="line"></div>
                        <div class="iconhead">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="line"></div>
                        <div class="iconhead">
                            <i class="fa-solid fa-wrench"></i>
                        </div>
                        <div class="line"></div>
                        <div class="iconhead">
                            <i class="fa-solid fa-triangle-exclamation fa-bounce"></i>
                        </div>
                    </div>

                </div>
                <div class="line_infor"></div>
                <div id="displayValues">
                    <div class="display_array">
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>5</p>
                    </div>
                    <div class="icon_arrow">
                        <div class="arrow_up ">
                            <i class="fa-solid fa-arrow-up fa-bounce fa-2xl"></i>
                        </div>
                        <div class="arrow_down hidden">
                            <i class="fa-solid fa-arrow-down fa-bounce fa-2xl"></i>
                        </div>
                    </div>
                </div>
                <div class="content_warning">
                    <button class=" button_warning" data-warning=""><i
                            class="fa-regular fa-bell fa-shake fa-xl"></i></button>
                </div>
            </div>
            <div class="line_infor"></div>
            <div class="control_room2">
                <div class="box-img">
                    <img class="img-bulb2" src="/static/img/icon/logo.png" alt="">
                    <a class="btn btn-success bedroom-link" href="/controlhome">Bedroom</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<script src="/static/js/livingroom.js"></script>